* {
  margin: 0;
  padding: 0;
}
html,
body,
#root,
canvas {
  height: 100vh !important;
}

html {
  background: #fac407;
}

.html a {
  cursor: pointer;
}

pre {
  user-select: none;
}

body {
  margin: 0;
  user-select: none;
}

.gh-link {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
}
