* {
  margin: 0;
  padding: 0;
}
html,
body,
#root,
canvas {
  height: 100%;
}

html {
  background: rgb(46 15 28);
  background: linear-gradient(
    90deg,
    rgb(46 15 28) 1%,
    rgb(22 13 20) 51%,
    rgb(46 15 28) 100%
  );
}

body {
  margin: 0;
}

.measure-text {
  color: #fff;
  background-color: #f17720;
  padding: 10px;
  border-radius: 5px;
}
