* {
  margin: 0;
  padding: 0;
}
html,
body,
#root,
canvas {
  height: 100%;
}

html {
  background: #151515;
}

body {
  margin: 0;
}

.measure-text {
  color: #fff;
  background-color: #d86c00;
  padding: 10px;
  border-radius: 5px;
}
