* {
  margin: 0;
  padding: 0;
}
html,
body,
#root,
canvas {
  height: 100%;
}

html {
  background: rgb(237, 230, 167);
  background: linear-gradient(
    90deg,
    rgba(237, 230, 167, 0.9933035714285714) 1%,
    rgba(222, 254, 250, 1) 51%,
    rgba(255, 213, 231, 1) 100%
  );
}

body {
  margin: 0;
}

.measure-text {
  color: #fff;
  background-color: #f17720;
  padding: 10px;
  border-radius: 5px;
}
